In [41]:
import numpy as np
import pandas as pd

# Reading the Datasets

In [42]:
# Reading the dataset
India = pd.read_csv('Full Dataset/India_Covid.csv')
USA = pd.read_csv('Full Dataset/USA_Covid.csv')
UK = pd.read_csv('Full Dataset/UK_Covid.csv')
Italy = pd.read_csv('Full Dataset/Italy_Covid.csv')
Belgium = pd.read_csv('Full Dataset/Belgium_Covid.csv')
France = pd.read_csv('Full Dataset/France_Covid.csv')
S_korea = pd.read_csv('Full Dataset/South_Korea_Covid.csv')

# Keeping the Dataset after the cases arrived

In [77]:
def create_cumm(df):
    y = np.zeros(len(df))
    x = np.array(df.cases)
    y[0]=x[0]
    for i in range(1,len(df)):
        y[i] = y[i-1]+x[i]
    df['cumm_cases'] = y
    return(df)

In [78]:
India = create_cumm(India)
USA = create_cumm(USA)
UK = create_cumm(UK)
Italy = create_cumm(Italy)
Belgium = create_cumm(Belgium)
France = create_cumm(France)
S_korea = create_cumm(S_korea)

In [79]:
India_updated = India[India['cumm_cases']>0]
USA_updated = USA[USA['cumm_cases']>0]
UK_updated = UK[UK['cumm_cases']>0]
Italy_updated = Italy[Italy['cumm_cases']>0]
Belgium_updated = Belgium[Belgium['cumm_cases']>0]
France_updated = France[France['cumm_cases']>0]
S_korea_updated = S_korea[S_korea['cumm_cases']>0]

# Adding Stage Column for Countries

In [82]:
l = len(India)
Stage = []
for i in range(l):
    if()

,Date,day,month,year,popData2018,Daily_total_tests,Daily_tests_per_thousand,tests_per_thousand,cases,deaths,Lockdown,Public_Health,Governance_and_socioeconomic,Humanitarian_exemption,Social_distancing,Movement_restrictions,cumm_cases
30,2020-01-30,30,1,2020,1352617328,1.0,0.0,0.0,1,0,0,12,0,0,0,0,1.0
31,2020-01-31,31,1,2020,1352617328,0.0,0.0,0.0,0,0,0,14,0,0,0,0,1.0
32,2020-02-01,1,2,2020,1352617328,0.0,0.0,0.0,0,0,0,16,0,0,0,0,1.0
33,2020-02-02,2,2,2020,1352617328,1.0,0.0,0.0,1,0,0,18,0,0,0,0,2.0
34,2020-02-03,3,2,2020,1352617328,0.0,0.0,0.0,0,0,0,20,0,0,0,0,2.0

In [46]:
countries = ['India', 'USA', 'UK', 'Italy', 'Belgium', 'France', 'S_korea']
Country = []
for j in countries:
    for i in range(101):
        Country.append(j)
        
frames = [India, USA, UK, Italy, Belgium, France, S_korea]
data = pd.concat(frames)

x = np.arange(707)
data['index'] = x
data = data.set_index('index')

In [57]:
dummy = pd.get_dummies(data['Country'])

In [61]:
data = pd.concat([data,dummy], axis = 1)