In [1]:
import pandas as pd
import numpy as np

In [2]:
test_data = pd.read_csv('full-list-covid-19-tests-per-day.csv')

In [3]:
test_data.head()

      Entity Code          Date  Daily change in total tests
0  Argentina  ARG   Apr 9, 2020                         1520
1  Argentina  ARG  Apr 10, 2020                         1529
2  Argentina  ARG  Apr 11, 2020                         1648
3  Argentina  ARG  Apr 14, 2020                         3047
4  Argentina  ARG  Apr 15, 2020                         1569

In [4]:
test_data.Entity.unique()

array(['Argentina', 'Australia', 'Austria', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Bolivia', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Czech Republic', 'Denmark',
       'Ecuador', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland',
       'France', 'Ghana', 'Greece', 'Hungary', 'Iceland', 'India',
       'India, people tested', 'Indonesia', 'Iran', 'Israel', 'Italy',
       'Italy, people tested', 'Japan, tests performed', 'Kazakhstan',
       'Kenya', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico',
       'Morocco', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand',
       'Nigeria', 'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Senegal', 'Serbia', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Switzerland', 'Taiwan', 'Thailand',
       'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom',
       'United Kingdom, tests performed', 'United States',
       'United States, specimens tested (CDC)', 'Uruguay', 'Vietnam',
       'Zimbabwe'], dtype=object)