In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
district_cases = pd.read_csv('../Data/New Data Sources/statewise_tested_numbers_data.csv')

In [3]:
## Missing values in the Dataset
print("Number of missing values:", sum(list(district_cases.isna().sum())))
(district_cases.isna().sum())

Number of missing values: 50869

Updated On                                  0
State                                       0
Total Tested                               61
Tag (Total Tested)                         49
Positive                                   73
Negative                                 1251
Unconfirmed                              2009
Cumulative People In Quarantine          3393
Total People Currently in Quarantine     2075
Tag (People in Quarantine)               2063
Total People Released From Quarantine    3240
People in ICU                            3480
People on Ventilators                    3489
Num Isolation Beds                       3065
Num ICU Beds                             3106
Num Ventilators                          3067
Total PPE                                3345
Total N95 Masks                          3345
Corona Enquiry Calls                     3568
Num Calls State Helpline                 2929
Source1                                    71
Source2                                  2188
Source3                                  3410
Test positivity rate                      317
Tests per thousand                        290
Tests per million                         290
Tests per positive case                   405
Population NCP 2019 Projection            290
dtype: int64

In [7]:
district_cases['Updated On'].unique()

array(['17/04/2020', '24/04/2020', '27/04/2020', '01/05/2020',
       '16/05/2020', '19/05/2020', '20/05/2020', '21/05/2020',
       '22/05/2020', '23/05/2020', '24/05/2020', '25/05/2020',
       '26/05/2020', '27/05/2020', '28/05/2020', '29/05/2020',
       '30/05/2020', '31/05/2020', '01/06/2020', '02/06/2020',
       '03/06/2020', '04/06/2020', '05/06/2020', '06/06/2020',
       '07/06/2020', '08/06/2020', '09/06/2020', '10/06/2020',
       '11/06/2020', '12/06/2020', '13/06/2020', '14/06/2020',
       '15/06/2020', '16/06/2020', '17/06/2020', '18/06/2020',
       '19/06/2020', '20/06/2020', '21/06/2020', '22/06/2020',
       '23/06/2020', '24/06/2020', '25/06/2020', '26/06/2020',
       '27/06/2020', '28/06/2020', '29/06/2020', '30/06/2020',
       '01/07/2020', '02/07/2020', '03/07/2020', '04/07/2020',
       '05/07/2020', '06/07/2020', '07/07/2020', '08/07/2020',
       '09/07/2020', '10/07/2020', '11/07/2020', '12/07/2020',
       '13/07/2020', '14/07/2020', '15/07/2020', '16/07/2020',
       '17/07/2020', '18/07/2020', '19/07/2020', '20/07/2020',
       '21/07/2020', '22/07/2020', '23/07/2020', '24/07/2020',
       '25/07/2020', '26/07/2020', '27/07/2020', '02/04/2020',
       '10/04/2020', '11/04/2020', '12/04/2020', '13/04/2020',
       '14/04/2020', '15/04/2020', '16/04/2020', '18/04/2020',
       '19/04/2020', '20/04/2020', '21/04/2020', '22/04/2020',
       '23/04/2020', '25/04/2020', '26/04/2020', '28/04/2020',
       '29/04/2020', '30/04/2020', '02/05/2020', '03/05/2020',
       '04/05/2020', '05/05/2020', '06/05/2020', '07/05/2020',
       '08/05/2020', '09/05/2020', '10/05/2020', '11/05/2020',
       '12/05/2020', '13/05/2020', '14/05/2020', '15/05/2020',
       '17/05/2020', '18/05/2020', '28/07/2020', '09/04/2020',
       '05/04/2020', '08/04/2020', '01/04/2020', '07/04/2020',
       '03/04/2020', '04/04/2020', '06/04/2020'], dtype=object)

### Columns in Dataset

In [9]:
columns = list(district_cases.columns)

In [10]:
print(columns)

['Updated On', 'State', 'Total Tested', 'Tag (Total Tested)', 'Positive', 'Negative', 'Unconfirmed', 'Cumulative People In Quarantine', 'Total People Currently in Quarantine', 'Tag (People in Quarantine)', 'Total People Released From Quarantine', 'People in ICU', 'People on Ventilators', 'Num Isolation Beds', 'Num ICU Beds', 'Num Ventilators', 'Total PPE', 'Total N95 Masks', 'Corona Enquiry Calls', 'Num Calls State Helpline', 'Source1', 'Source2', 'Source3', 'Test positivity rate', 'Tests per thousand', 'Tests per million', 'Tests per positive case', 'Population NCP 2019 Projection']

In [11]:
states = list(district_cases['State'].unique())

In [15]:
district_counts = pd.Series(district_cases['State'].value_counts())

In [16]:
district_counts.head(10)

Uttar Pradesh     6888
Madhya Pradesh    4510
Tamil Nadu        3698
Bihar             3481
Rajasthan         3388
Maharashtra       3349
Gujarat           3152
Assam             2814
Karnataka         2712
Odisha            2548
Name: State, dtype: int64

## Preparing Statewise Data

In [23]:
x = district_cases.groupby('State')

In [25]:
x.get_group('Andhra Pradesh')

,Date,State,District,Confirmed,Recovered,Deceased,Migrated,Tested
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN
5,2020-04-26,Andhra Pradesh,Krishna,177,29,8,0,NaN
...,...,...,...,...,...,...,...,...
59809,2020-07-28,Andhra Pradesh,Srikakulam,4694,2602,62,0,140812.0
59810,2020-07-28,Andhra Pradesh,Visakhapatnam,7436,1726,81,0,123130.0
59811,2020-07-28,Andhra Pradesh,Vizianagaram,3329,1249,40,0,61678.0
59812,2020-07-28,Andhra Pradesh,West Godavari,8820,3491,88,0,111442.0
59813,2020-07-28,Andhra Pradesh,Y.S.R. Kadapa,5093,3154,32,0,109255.0